
body {
    /*background-color: lightGreen;*/
    background-image:url("http://www.servinet.net/wp-content/uploads/2016/09/fondo-web-blanco.jpg");

}
h1 {
    color: black ;
    text-align: center;
}
form {
    font-family: verdana;
    font-size: 20px;
    text-align:center;
}
input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}
.a  {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid LawnGreen;
  padding: 5px;
  margin: 5px;
    color: black;
    font-family: verdana;
    font-size: 20px;
    text-align:center;
    
}
p {
    font-family: verdana;
    font-size: 30px;
    /*text-align:center;*/
}
